{% extends "base.html" %}
{% block title %}Registro{% endblock %}

{% block content %}
<div class="login-container">
    <div class="formulario-login">
        <h2>Crear Cuenta para tu Salón</h2>

        <form action="/registro" method="post">
            <div class="form-group">
                <label for="nombre_salon">Nombre de tu Salón:</label>
                <input type="text" id="nombre_salon" name="nombre_salon" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit">Registrarme</button>
        </form>
                <p>¿Ya tenés cuenta? <a href="{{ url_for('login') }}">Iniciá Sesión</a></p>
        <hr>
        <p>¿Necesitás ayuda? <a href="https://wa.me/5491112345678" class="btn-whatsapp" target="_blank">Contactar al Administrador</a></p>
    </div>
</div>
{% endblock %}